(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    waves: Some((
        source: File("cos_1_tb-sim.vcd"),
        format: Vcd,
        active_scope: Some((
            strs: [
                "cos_1_tb",
                "cos_1",
            ],
        )),
        displayed_items_order: [
            1,
            4,
            5,
            6,
            7,
            8,
        ],
        displayed_items: {
            1: Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cos_1_tb",
                            "cos_1",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
            )),
            5: Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cos_1_tb",
                            "cos_1",
                        ],
                    ),
                    name: "cos_x",
                ),
                color: None,
                background_color: None,
                display_name: "cos_x",
                display_name_type: Unique,
                manual_name: None,
            )),
            7: Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cos_1_tb",
                            "cos_1",
                        ],
                    ),
                    name: "b",
                ),
                color: None,
                background_color: None,
                display_name: "b",
                display_name_type: Unique,
                manual_name: None,
            )),
            6: Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cos_1_tb",
                            "cos_1",
                        ],
                    ),
                    name: "a",
                ),
                color: None,
                background_color: None,
                display_name: "a",
                display_name_type: Unique,
                manual_name: None,
            )),
            8: Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cos_1_tb",
                            "cos_1",
                        ],
                    ),
                    name: "c",
                ),
                color: None,
                background_color: None,
                display_name: "c",
                display_name_type: Unique,
                manual_name: None,
            )),
            4: Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "cos_1_tb",
                            "cos_1",
                        ],
                    ),
                    name: "reset",
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
            )),
        },
        display_item_ref_counter: 8,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
            ),
        ],
        variable_format: {},
        cursor: None,
        right_cursor: None,
        markers: {},
        focused_item: Some(5),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_wave_source: true,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    ui_zoom_factor: None,
)